<body>

  <nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="/" class="brand-logo">
        <img src="./assets/img/forklogo.png" alt="fork">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down teal lighten-2">
        <div class="nav-wrapper teal lighten-2">
          <ul id="nav-mobile" class="right hide-on-med-and-down teal lighten-2">
            <li>
              <a href="/logout">Log Out</a>
            </li>
          </ul>
        </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center s12 light-2">Fork In The Road</h1>
        <div class="row center">
          <h4 class="header center s12 light-2">A Foodie Revue Site</h5>
        </div>
        <div class="row center">
        </div>
        <br>
        <br>

      </div>
    </div>
    <div class="parallax">
      <img src="./assets/img/fork1.jpg" alt="fork">
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!-- Add restaurant -->
      <div class="valign-wrapper row login-box">
        <div class="col card s10 pull-s1 m10 pull-m1 l10 pull-l1">
          <form id="restaurant" name="restaurant" method="post" action="/api/dishreviews">

            <label for="restaurantName">Restaurant</label>
            <input name="restaurantName" id="restaurantName" type="text" class="form-control" data-type="google-autocomplete" placeholder="Enter Restaurant Name">

            <label for="dishName">Dish</label>
            <input name="dishName" id="dishName" type="text" />

            <label for="dishRating">Rating</label>
            <input name="dishRating" id="dishRating" type="text" />

            <label for="notes">Notes</label>
            <input name="notes" id="notes" type="text" />
            <input class="btn" type="submit" value="Submit" />

          </form>
        </div>
      </div>

      {{#each DishReview}}
      <div class="valign-wrapper row">
      <div class="col card s10 pull-s1 m10 pull-m1 l10 pull-l1">
        <ul class='dish-card'>
          <li class='rest-name'><strong>{{this.dataValues.restaurantName}}</strong></li>
          <hr>
          <li><strong>Dish:</strong> {{this.dataValues.dishName}}</li>
          <li><strong>Rating:</strong> {{this.dataValues.dishRating}}</li>
          <li><strong>Notes:</strong> {{this.dataValues.notes}}</li>
        </ul>
      </div>
      </div>
      {{/each}}

    </div>

  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3>
            <i class="mdi-content-send brown-text"></i>
          </h3>
          <h4>Contact Us</h4>
          <p class="left-align light">We want to hear from you. Let us know if we can improve our application to make your user experience better. We
            occasionally post new restaurant reviews in your area. Please send in your suggestions and we'll upload them
            in our system to share with the world.</p>
        </div>
      </div>

    </div>
  </div>

  <!-- Google API -->
  <script>

    var input = document.getElementById('restaurantName');
      var autocomplete = new google.maps.places.Autocomplete(
        input,
        { type: ['(restaurant)'] }
      );

    //function initAutocomplete() {
      //var input = document.getElementById('restaurantName');
      //var autocomplete = new google.maps.places.Autocomplete(
        //input,
        //{ type: ['(restaurant)'] }
      //);

      //autocomplete.addListener('place_changed', () => {
        //var selectedPlace = autocomplete.getPlace();
        // console.log(selectedPlace);
        //document.getElementById('restaurantName').value = selectedPlace.name;
      //});
    //}

    //const script = document.createElement('script');
    //script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete';

    //document.body.appendChild(script);

  </script>

</body>