<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center s12 light-2">Fork In The Road</h1>
        <div class="row center">
          <h4 class="header center s12 light-2">A Foodie Revue Site</h5>
        </div>
        <div class="row center">
          <a href="/dashboard" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br>
        <br>

      </div>
    </div>
    <div class="parallax">
      <img src="img/fork1.jpg" alt="fork">
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">flash_on</i>
            </h2>
            <h5 class="center">Leave Revues</h5>

            <p class="light">Sign up and start saving restaurants you visit around town. Add dishes you try at each place! Save them for later so you remember what you had!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">group</i>
            </h2>
            <h5 class="center">User Experience</h5>

            <p class="light">We try to make it as simple as possible for you to navigate our app. Simple, straight-forward styling makes for an easy customer experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">settings</i>
            </h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">Give it a try! If you're not happy with our app, let us know. We're always trying to improve our features for our customers.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Let us save your restaurants and dishes for you, so you don't have to.</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/fork.jpeg" alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3>
            <i class="mdi-content-send brown-text"></i>
          </h3>
          <h4>Contact Us</h4>
          <p class="left-align light">We want to hear from you. Let us know if we can improve our application to make your user experience better. We occasionally post new restaurant reviews in your area. Please send in your suggestions and we'll upload them in our system to share with the world.</p>
        </div>
      </div>

    </div>
  </div>

</body>